.venv/
venv/
__pycache__/
*.pyc
.ipynb_checkpoints/
.env

starter/results/*
!starter/results/README.md
starter/vector_store/

solution/vector_store/
solution/results/*
!solution/results/*_baseline.*
!solution/results/README.md
